{% extends 'base.html' %}

{% block title%}
About
{% endblock%}

{% block content%}
<h1>About Page</h1> 
<br><br>
<h5>
   <i> City Hospital was established in the heart of the city of Ernakulam in 1971 by a group of highly experienced doctors. It had many unique features, such as the first 24hr Casualty. It was one of the leading multispeciality hospital and had in its team many doctors renowned in the fields of surgery, Ortho, Cardio Thorax, Obstetrics and Gynecology, Paediatrics and Medicine. It offered a wide range of special services and delivered high quality healthcare with personal touch. With the retirement and ill health and the shifting of practice of many of the prominent doctors, the focus and prominence of City Hospital went into a period of decline.</i>
</h5>
<br><br><br>
{% endblock%}